*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

}
body{
  background-color: #333;
  font-family: Helvetica neue;
font-size-adjust:16px;
  line-height:1.6;
}
header{

 border-bottom:1 px #ddd;
}

img{width: 100px;
  height: auto;
  margin-left: 75px;
      top: 50px;
      padding: 10px;}


.cuerpo{
  box-sizing: border-box;
  display:inline-block;
  background-color: whiteSmoke;
  width: 250px;
  line-height: 1px solid black;
  padding:15;
  margin: 50px;
  border-radius: 10px;

}

h2{
  text-align: center;


}

h3{text-align: center;
color: grey;}
