*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.home-wrapper{
 background-image: url(images/wtm.jpg);
}



header nav{
  padding: 5px 5px;
  float: right;
  margin-right:200px;
  height: 150px;
}

header nav a {
  color: #001C2A;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 2.875em;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 20px;
  padding: 20px 20px;

}

nav img{
    margin-top: 10px;
    border: 0;
}

header.logo{
font-size: 22px;
border-radius: 3px;
}

.titulo span{
text-transform: uppercase;
font-size: 4.5em;
font-weight: 700;
line-height: 1em;
}



.botones{

padding-top: 100px;
position:relative;
text-align: center;
display:inline-block;

}

#boton1 a{
margin-left: 25%;
padding: 1em;
border-radius: 5px;
background: white;
text-transform: uppercase;
font-size: 1.2em;
color: #1F1F1F;
transition: all 0.2s;
box-shadow: 0 0 5px #727176;}


#home{
  text-align: center;
  padding: 200px 0 150px;
}
#home h1{
font-size: 68px;
font-weight: normal;
margin-bottom: 40px;
}

#home p{
  font-size: 20px;
  margin-top: 40px;
}
.container {

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}


#servicios h2{
  text-align: center;
  margin:50px;
  font-size: 32px;
}

#servicios h4{
  text-align:
}
#servicios .box{
text-align: center;
display: inline-block;
width: 33%;
padding: 10px;
margin: 1.5em;
font-size: 1.5em;
padding: 1em 0.5em;
width: 7em;
height: 7em;
box-sizing: border-box;
text-transform: uppercase;
box-shadow: 0 0 5px #727176;
}

#textointro h1{
text-transform: capitalize;
color: #001C2A;
font-size: 4em;
}

#textointro p{
margin-top: 1em;
font-size: 1.5em;
color: #727176;

}
#textointro span{
  color: black;
}

#portafolio .box{
  background-color: white;
  display: inline-block;
  margin:1%;
  text-align: center;
  width: 25%;
  box-shadow: 0 0 5px #727176;
  padding: 1em;
  box-sizing: border-box;
  margin: 1em 2em;
  height: 17em;
  overflow-y: auto;
}

#portafolio .box p{
  margin-top: 1.5em;
  text-align: left;
}
#portafolio .box h4{
margin-top: 1em;
font-size: 1.5em;
color: #727176;

}

#portafolio .box img{
  vertical-align: middle;
margin-right: 0.5em;
}

#texto2 p{
  margin-top: 1em;
font-size: 1.5em;
color: #727176;
}

#texto2 span{
  color: black;
}

#cajas .box{
  width: 25%;
  margin: 10px;
  display: inline-block;
}


#cajas .box img{
margin: 1em;
max-width: 100%;
margin-left: 5px;
}

.newsletter{
  height: 452px;
  width: 100%;
  /*background-image: url('../images/wtm.jpg') no-repeat;*/
  background-color: rgba(48, 48, 48,0.5);
  color: white
}

.newsletter__input {
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 1.5em;
    border: none;
    display: inline-block;
    height: 2em;
    padding: 0.5em;
    width: 50%;
    margin: 120px ;
}

input.newsletter__button{
width: 128px;
height: 49px;
background-color: white;
border-radius: 5px;
}

.newsletter__title {
    font-size: 3em;
    text-transform: capitalize;
    color: white;
    text-align: center;
    padding: 10px 25px;}

.home-wrapper{
  width: 100%;
  height: 464px;
}

#testimonios{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.testimonios_titulo{
  color: #64B0D2;
  text-align: left;
}
#testimonios .box{
width: 25%;
/*display: inline-block;*/
margin-right: -.25em;
min-height: 1px;
padding: 10px;
vertical-align: top;
}

#testimonios .box p{
  text-align: left;
}

.texto3 {
  min-height: auto;
 margin-top: 10px;
 margin-bottom: 10px;
 display: flex;
}


.subtitulo {
  width: 33%;
font-size: 1.1em;
color: #59585c;
text-transform: none;}

.subtitulo2{
  margin-top: 1em;
font-size: 1.1em;
color: #727176;
}

.hr{
  height:1px;
  width: 100%;
  background: #727176;
  width: 33%

}

#trabajos .box {
display: inline-block;
box-shadow: 0 0 5px #727176;
margin: 1em;
background: white;
width: 25%;

}

#trabajos .box img{
  width: 100%;
}

#mentores .box{
  display: inline-block;
box-shadow: 0 0 5px #727176;
margin: 1em;
background: white;
width: 25%;
}

#mentores .box img{
  height: 200px;
  width: 200px;
}

#lugares{
  background-image: url(images/map-image.png);
}

.subtitulo_contacto{
color: #59585c;
font-size: 1.5em;
font-weight: 700;
}


#boton2{
  width: 100%;
  color: black;
  height: 30px;
  text-align: center;

margin-bottom: 5em;
}

.boton2  a{
  margin-top: -1em;
padding: 1em;
border-radius: 5px;
text-align: center;
display:inline-block;
font-size: 1em;
text-transform: uppercase;
color: white;
background: #64B0D2;
margin-bottom: 20px;
text-decoration: none;
  }

#social .social{
  height: 150px;
  margin-top: 80px;
 text-align: center;
}

#social .social a {
border: solid 1px #59585c;
display: inline-block;
line-height: 50px;
width: 2em;
height: 2em;
font-size: 1.5em;
border-radius: 100%;
color: #59585c !important;
transition: all 0.1s;
margin: 0.5em;
}

.nav{
display: inline-block;
padding: 5px 5px;
margin-left: 10px;
}

footer {
background: #001C2A;
color: white;
padding: 2em;
text-align: center;
font-family: inherit;
}

.grid__col--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__smaller__left__link{
  box-sizing: border-box;
display: inline-block;
margin-right:-1000px;
min-height: 1px;
padding-left: 0;
vertical-align: bottom;
}

.central{
box-sizing: border-box;
display: inline-block;
margin-right: -2px;
min-height: 1px;
padding-left: 0;
vertical-align: bottom;}

.footer__smaller__right__link{box-sizing: border-box;
display: inline-block;
margin-right:-900px;
min-height: 1px;
padding-left: 0;
vertical-align: bottom;

}